body {
    margin: 0rem;
    padding: 0rem;
}

/* CharacterCard.jsx */

.character-card {
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
  }
  
  .character-card:hover {
    transform: scale(1.03);
  }
  
  .card-buttons {
    opacity: 0;
    transition: opacity 0.3s ease 0.1s; /* delay lets the shrink finish first */
    position: absolute;  /* this is going to position the buttons so we can adjust their location to top right */
    top: 1rem;
    right: 1rem;
    z-index: 10;
  }
  
  .character-card:hover .card-buttons {
    opacity: 1;
  }